# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===============================
# Build / Compilação
# ===============================
bin/
obj/

# ===============================
# .NET
# ===============================
*.dll
*.exe
*.pdb

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Configurações locais
# ===============================
appsettings.Development.json
